{% extends 'app/instructor_base.html' %}
{% block title %}Instructor Courses{% endblock %}
{% block content %}

<body>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
     <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Instructor · Courses</title>

    <style>

        div.scroll {
            width: 100%;
            height: 500px;
            overflow-x: hidden;
            overflow-y: auto;
          }

       .filter-data {
          margin-top: 8px;
        }

    </style>
  </head>

  <div class="container col-sm">
    <div class="panel panel-primary" style="border-width: 3px; border-radius: 6px; border-color: #052d71;">
      <div class="panel-heading" style="background: linear-gradient( #052d71  , #052d71 );">
        <h6 class="panel-title" style="text-align: center ;font-weight: bold; font-size: 30px; color: #ffffff;">My Courses</h6>
      </div>

      <div class="scroll" style="width: 100%; height: 500px; overflow-x: hidden; overflow-y: auto;">
          <div class="card card-body p-4 mt-7 shadow-dark" style="float: right; margin: 10px 5px;">
              <!-- Search -->

              <form class="w-100 form-inline" method="get" action="{% url 'instructor_search_course'%}">
                <div class="form-group mx-sm-3 mb-2"  style="width: 40%; float: left;">
                  <input type="text" class="form-control" id="search" placeholder="Search bar" name="query">
                </div>
                <button type="submit" class="btn btn-primary mb-2" style="background: linear-gradient( #36d1dc   , #5b86e5 );"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
                <div class="filter-data">
                  <span><b>Status</b>:</span>
                  <label class="radio-inline">
                    <input class="form-check-input" type="radio" name="status" id="statusAll" value="All" checked>All
                  </label>
                  <label class="radio-inline">
                    <input  class="form-check-input" type="radio" name="status" id="statusConfirmed" value="Confirmed" >Confirmed
                  </label>
                  <label class="radio-inline">
                    <input class="form-check-input" type="radio" name="status" id="statusPending" value="Pending" >Pending
                  </label>
                </div>
              </form>
            
          </div>

      <table class="table table-hover" id="dev-table">
        <thead>
          <tr style="font-weight: bold; font-size: 16px;">
            <th>Title</th>
            <th>Category</th>
            <th>Level</th>
            <th>Language</th>
            <th>Price</th>
            <th>Certificate</th>
            <th>Leanrers</th>
            <th>Status</th>
          </tr>
        </thead>
        {% for a in courses %}
        <tr>
          <td><a href="{{a.instructor_get_absolute_url}}"><b>{{a.title}}</b></a></td>
          <td>{{a.category}}</td>
          <td>{{a.level}}</td>
          <td>{{a.language}}</td>
          <td>{{a.price}}</td>
          <td>{{a.has_certificate}}</td>
          <td>{{a.usercourse_set.all.count}}</td>
          {%if a.status == 'PUBLISH'%}
          <td><span class="label label-success">Confirmed</span></td>
          {% else %}
          <td><span class="label label-warning">Pending</span></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      </div>
    </div>
      <a href="{% url 'create_course_form' %}" class="btn btn-primary" style="background-color: #052d71;">Create new Course <i class="fa-solid fa-plus"></i> </a>
  </div>
 
</body>
{% endblock %}