{% extends 'app/instructor_base.html' %}
{% block title %}Instructor Lessons{% endblock %}
{% block content %}
<body>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
     <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Instructor · Lessons</title>

    <style>
      /* .container{
          margin-right: 0px;
          margin-bottom: 0px;
          width: 80%;
        } */
      body{
          background-image: url('../../static/assets/img/illustrations/illustration-7.svg') !important; 
          background-repeat: no-repeat; 
          background-size: cover;
      }
      div.scroll {
          background-color: #ffffff;
          width: 100%;
          height: 500px;
          overflow-x: hidden;
          overflow-y: auto;
        }
    </style>
  </head>

  <div class="container col-sm">
    <div class="panel panel-primary"  style="border-width: 3px; border-radius: 6px; border-color: #052d71;">
      <div class="panel-heading" style="background: linear-gradient( #052d71  , #052d71 );">
        <h6 class="panel-title" style="text-align: center ;font-weight: bold; font-size: 30px; color: #ffffff;">My Lessons</h6>
      </div>

      <div class="scroll">
        <div class="card card-body p-4 mt-7 shadow-dark" style="float: right; margin: 10px 5px;">
          <!-- Search -->
          <form class="w-100 form-inline" method="get" action="{% url 'instructor_search_lesson'%}">
            <div class="form-group mx-sm-3 mb-2">
              <input type="text" class="form-control" id="inputPassword2" placeholder="Search bar" name="query">
            </div>
            <button type="submit" class="btn btn-primary mb-2" style="background: linear-gradient( #36d1dc   , #5b86e5 );"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
            <!-- <div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchType" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchType" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="searchType" id="inlineRadio3" value="option3">
                <label class="form-check-label" for="inlineRadio3">3</label>
              </div>
            </div> -->
            <div class="filter-data">
              <span><b>Status</b>:</span>
              <label class="radio-inline">
                <input class="form-check-input" type="radio" name="status" id="status" value="All" checked>All
              </label>
              <label class="radio-inline">
                <input  class="form-check-input" type="radio" name="status" id="status" value="Confirmed" >Confirmed
              </label>
              <label class="radio-inline">
                <input class="form-check-input" type="radio" name="status" id="status" value="Pending" >Pending
              </label>
            </div>
          </form>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr style="font-weight: bold; font-size: 16px;">
            <th>Name</th>
            <th>Course</th>
            <th>Status</th>
          </tr>
        </thead>
        {% for a in lessons %}
          {% for b in a %}
            <tr>
              <td><a href="{{b.get_absolute_url}}"><b>{{b.name}}</b></a></td>
              <td>{{b.course}}</td>
              {%if b.status == True%}
              <td><span class="label label-success">Confirmed</span></td>
              {% else %}
              <td><span class="label label-warning">Pending</span></td>
              {% endif %}
              </tr>
          {% endfor %}
        {% endfor %}
      </table>
    </div>
    </div>
    <a href="{% url 'create_lesson_form' %}" class="btn btn-primary" style="background-color: #052d71;">Create new Lesson <i class="fa-solid fa-plus"></i></a>

  </div>

</body>
{% endblock %}